---

- name: create folder
  file:
    path: /opt/tomcat
    state: directory
    mode: '0755'

- name: i want to extract tar file commadn
  command:
    cmd: tar xzvf /home/ubuntu/apache-tomcat-8.5.5.tar.gz -C /opt/tomcat --strip-components=1
    creates: /opt/tomcat/LICENSE